<footer>
    <div class="footer-wrapper">
        <div class="footer-box_1">
            <h3>Ubicación</h3>
            <ul>
                <li>C. de Martín de los Heros, 63, 28008 Madrid</li>
                <li>marketingcemeresi@gmail.com</li>
                <li>+34637687934</li>
            </ul>
        </div>
        <div class="footer-box_2">
            <img src="../../../assets/media/logo.svg" alt="" class="footer-img">
        </div>
        <div class="footer-box_3">
            <h3>Mapa de la web</h3>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/about">about</a>
                </li>
                <li>
                    <a routerLink="/contact">contact</a>
                </li>
            </ul>
        </div>
        <div class="container footer-box_4">
            <div class="float-end"><a href="#" class="icon-back">
                    <mat-icon>arrow_upward</mat-icon>
                </a></div>
            <p>&copy;2022 Cemeresi &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>

            </p>
        </div>
    </div>


    <!-- CSS ANIMATION -->
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
    <!-- CSS ANIMATION -->



</footer>