<section>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div [@enter1] class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
                <a target="_blant" href="https://g.page/Cemeresi?share">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">
                            <mat-icon class="icon">room</mat-icon>
                        </h4>
                    </div>
                </a>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Dirección física</h1>
                    <p>
                        Calle de Martín de los Heros 63, 28008 Madrid
                    </p>

                </div>
            </div>
        </div>

        <div [@enter2] class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
                <a target="_blant" href="mailto:marketingcemeresi@gmail.com">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">
                            <mat-icon class="icon">email</mat-icon>
                        </h4>
                    </div>
                </a>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Dirección de correo electrónico</h1>
                    <p>
                        marketingcemeresi@gmail.com
                    </p>

                </div>
            </div>
        </div>
        <div [@enter3] class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-dark">
                <a target="_blant" href="tel:+34637687934">
                    <div class="card-header py-3 text-white bg-dark border-dark">
                        <h4 class="my-0 fw-normal">
                            <mat-icon class="icon">call</mat-icon>
                        </h4>
                    </div>
                </a>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Números de teléfono</h1>
                    <p>
                        WhatsApp – 637 68 79 34 || Teléfono – 912 940 047
                    </p>


                </div>
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 m-md-3 p-md-3">
        <div [@enter5] class="m-md-3 p-3 p-3 p-md-5 p-md-5 text-center text-white overflow-hidden">

            <iframe class="map-box w-100"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12148.326398254298!2d-3.717833!3d40.429192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb5daea3913d42e!2sCentro%20M%C3%A9dico%20Est%C3%A9tico%20Cemeresi!5e0!3m2!1ses!2ses!4v1643397126608!5m2!1ses!2ses"
                loading="lazy"></iframe>

        </div>
        <div [@enter4] class="m-md-3 p-3 p-md-5 text-center overflow-hidden">

            <h3 class="form-title fs-2">Hablemos</h3>
            <form [formGroup]="myForm" class="form-box" (ngSubmit)="onSubmit()">
                <div class="box-field">
                    <mat-form-field class="form-field input-group" appearance="outline">
                        <mat-label for="first-name">Nombre</mat-label>
                        <input matInput placeholder="Nombre" id="first-name" type="text" formControlName="firstName"
                            required>
                        <mat-hint>Es obligatorio*</mat-hint>
                    </mat-form-field>
                </div>

                <div class="box-field">
                    <mat-form-field class="form-field input-group" appearance="outline">
                        <mat-label for="last-name">Apellido</mat-label>
                        <input matInput placeholder="Apellido" id="last-name" type="text" formControlName="lastName"
                            required>
                        <mat-hint>Es obligatorio*</mat-hint>
                    </mat-form-field>
                </div>
                <div class="box-field">
                    <mat-form-field class="form-field input-group" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" type="email" formControlName="email" required>
                        <mat-hint>Es obligatorio*</mat-hint>
                        <mat-error *ngIf="myForm.invalid">Escribe corecto</mat-error>
                    </mat-form-field>
                </div>

                <div class="box-field">
                    <mat-form-field class="form-field input-group" appearance="outline">
                        <mat-label for="message">Mensage</mat-label>
                        <textarea matInput placeholder="Diganos algo" type="text" formControlName="message"
                            required></textarea>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Es obligatorio*</mat-hint>
                        <mat-error *ngIf="myForm.invalid">Escribe corecto</mat-error>
                    </mat-form-field>
                </div>
                <div class="box-field input-group">
                    <mat-checkbox formControlName="check" required>
                        Reglas
                    </mat-checkbox>
                </div>

                <div class="box-field input-group">
                    <button type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary">Enviar</button>
                </div>

            </form>

        </div>
    </div>
    <!-- <div [@enter1] class="top-content">
        <mat-card class="card">
            <mat-icon class="icon">room</mat-icon>
            <mat-card-title>
                Dirección física
            </mat-card-title>
            <mat-card-content>
                <p>
                    Calle de Martín de los Heros,
                </p>
                <p>
                    63 28008 Madrid
                </p>

            </mat-card-content>

        </mat-card>
        <mat-card class="card">
            <mat-icon class="icon">email</mat-icon>
            <mat-card-title>
                Dirección de correo electrónico
            </mat-card-title>
            <mat-card-content>
                <p>
                    marketingcemeresi@gmail.com
                </p>
            </mat-card-content>

        </mat-card>
        <mat-card class="card">
            <mat-icon class="icon">call</mat-icon>
            <mat-card-title>
                Números de teléfono
            </mat-card-title>
            <mat-card-content>
                <p>
                    Teléfono – 912 940 047
                </p>
                <p>
                    WhatsApp – 637 68 79 34
                </p>

            </mat-card-content>

        </mat-card>
    </div>
    <div class="main-content">
        <div [@enter2] class="map-wrapper">
            <iframe class="map-box"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12148.326398254298!2d-3.717833!3d40.429192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb5daea3913d42e!2sCentro%20M%C3%A9dico%20Est%C3%A9tico%20Cemeresi!5e0!3m2!1ses!2ses!4v1643397126608!5m2!1ses!2ses"
                loading="lazy"></iframe>
        </div>
        <div [@enter3] class="form-wrapper">
            <h3 class="form-title">Hablemos</h3>
            <form [formGroup]="myForm" class="form-box" (ngSubmit)="onSubmit()">
                <div class="box-field">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label for="first-name">Nombre</mat-label>
                        <input matInput placeholder="Nombre" id="first-name" type="text" formControlName="firstName"
                            required>
                        <mat-hint>Es obligatorio*</mat-hint>
                    </mat-form-field>
                </div>

                <div class="box-field">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label for="last-name">Apellido</mat-label>
                        <input matInput placeholder="Apellido" id="last-name" type="text" formControlName="lastName"
                            required>
                        <mat-hint>Es obligatorio*</mat-hint>
                    </mat-form-field>
                </div>
                <div class="box-field">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" type="email" formControlName="email" required>
                        <mat-hint>Es obligatorio*</mat-hint>
                        <mat-error *ngIf="myForm.invalid">Escribe corecto</mat-error>
                    </mat-form-field>
                </div>

                <div class="box-field">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label for="message">Mensage</mat-label>
                        <textarea matInput placeholder="Diganos algo" type="text" formControlName="message"
                            required></textarea>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Es obligatorio*</mat-hint>
                        <mat-error *ngIf="myForm.invalid">Escribe corecto</mat-error>
                    </mat-form-field>
                </div>
                <div class="box-field">
                    <mat-checkbox formControlName="check" required>
                        Reglas
                    </mat-checkbox>
                </div>

                <div class="box-field">
                    <button type="submit" [disabled]="!myForm.valid" mat-raised-button color="primary">Enviar</button>
                </div>

            </form>
        </div>
    </div> -->
</section>