<header>
    <mat-toolbar color="primary" class="toolbar nav-bar d-flex justify-content-around py-3">

        <div class="header-logo d-flex">

            <a routerLink="/home">
                <img src="../../../assets/media/logo.png" width="50" alt="logo">
            </a>
            <a routerLink="/home">
                <h2>Cemeresi</h2>
            </a>

        </div>
        <button class="hidden-btn" mat-icon-button (click)="button.toggle() && onClickButton()">
            <mat-icon [hidden]="buttonService.isOpen">menu</mat-icon>
            <mat-icon [hidden]="!buttonService.isOpen">close</mat-icon>
        </button>
        <nav class="top-navigtaion">
            <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
            <a mat-button routerLink="/services" routerLinkActive="active">Tratamientos</a>
            <a mat-button routerLink="/about" routerLinkActive="active">Nosotros</a>
            <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
        </nav>
    </mat-toolbar>

</header>