<section>
    <div class="container">
        <h3 class="row justify-content-md-center">Newsletter</h3>
        <form [formGroup]="myForm" class="row">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label for="first-name">Nombre</mat-label>
                    <input matInput placeholder="Nombre" id="first-name" type="text" formControlName="name" required>
                    <mat-hint>Es obligatorio*</mat-hint>
                </mat-form-field>
            </div>


            <div class="row">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com" type="email" formControlName="email" required>
                    <mat-hint>Es obligatorio*</mat-hint>
                    <mat-error *ngIf="myForm.invalid">Escribe corecto</mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-md-center">
                <mat-checkbox formControlName="check" required>
                    Reglas
                </mat-checkbox>
                <button type="submit" mat-raised-button color="primary">Enviar</button>
            </div>
            <p class="mb-5"></p>

        </form>
    </div>


</section>