<section class="wrap-container">
    <mat-selection-list [@slide] *ngIf="isList" #shoes [multiple]="false">
        <mat-list-option *ngFor="let treatment of treatments" (click)="onSelect(treatment)">
            {{treatment.name}}
        </mat-list-option>
    </mat-selection-list>
    <div class="wrap-card" [@slide] *ngIf="!isList && treatment !== null">
        <div class="card-img">
            <img src="{{treatment.image}}" alt="Photo">
        </div>

        <div class="card-content">
            <div>
                <h2>{{treatment.name}}</h2>
                <p>{{treatment.description}}</p>
            </div>
            <div>
                <button mat-button>Seleccionar</button>
                <button mat-button (click)="isList = true">Atras</button>
            </div>
        </div>

    </div>
</section>