section{
    margin-top: 60px;
    min-height: 100vh;
    background: #ffffff;
}

.wrapper{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    padding: 5% 2%;

    .wrap-text{
        width: 50%;
    }
}

.content{
    padding: 5%;
    margin: 0 5%;
    background-image: radial-gradient(violet 20%, rgb(132, 29, 153) 100%);
    color: #ffffff;

    border-radius: 4px;
}

// ====MEDIA QUERY===

@media screen and (max-width: 768px) { 
    .wrapper{
        flex-direction: column;

        align-items: center;
        
        .wrap-text{
        width: 80%;
        }
    }
    .content{
        padding: 1%;
        margin: 0;  
    }
}