<section class="container">
    <div [@enter1] class="wrapper">
        <div class="wrap-title">
            <h2>Cemeresi</h2>
            <h4>CENTRO MÉDICO ESTÉTICO Y CAPILAR</h4>
        </div>
        <div class="wrap-text">
            <p>
                Somos un Centro Especializado en Medicina Estética y Fisioterapia, que combina un personal altamente
                cualificado junto
                con la más moderna tecnología.
            </p>
        </div>
    </div>
    <div [@enter2] class="content">
        <h3 class="title">
            Sobre Nosotros
        </h3>
        <p>
            Proponemos en cada caso un tratamiento personalizado, atendiendo a las necesidades específicas de nuestros
            pacientes,
            mejorando de esta manera la salud y calidad de vida de cada uno de ellos.
            En nuestra Clínica ofrecemos servicios de Medicina Estética, Fisioterapia, Dietética y Nutrición. Para todos
            estos
            servicios contamos con especialistas y fisioterapeutas muy bien cualificados, colegiados y con experiencia
            en el
            diagnóstico, análisis y valoración de la evolución del paciente.
            Nuestro objetivo es mejorar la calidad de vida de nuestros pacientes brindándoles excelencia en los
            tratamientos de
            salud y belleza.
        </p>
        <button>
            ¡Ven a conocernos!
        </button>
    </div>



</section>