section{
    margin-top: 60px;
    height: 100vh;
    background: #ffffff;
}

.wrapper{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    padding: 5% 2%;

    .wrap-text{
        width: 50%;
    }
}

.content{
    padding: 5%;
    margin: 0 5%;
    background-color: antiquewhite;
}