<div class="app-container">
    <app-header [button]="snav"></app-header>
    <mat-sidenav-container class="sidenav-container">


        <mat-sidenav #snav mode="over" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-secondary sidebar">
            <hr>
            <mat-nav-list class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home" />
                    </svg>
                    <a (click)="snav.toggle() && onClickBtn()" class="nav-link fs-1" mat-list-item routerLink="/home"
                        routerLinkActive="active">
                        <mat-icon class="icon">home</mat-icon>Inicio
                    </a>
                </li>
                <li class="nav-item">

                    <a (click)="snav.toggle() && onClickBtn()" class="nav-link fs-1" mat-list-item
                        routerLink="/services" routerLinkActive="active">
                        <mat-icon class="icon">stars</mat-icon>
                        Especialidades
                    </a>
                </li>

                <li class="nav-item">
                    <a (click)="snav.toggle() && onClickBtn()" class="nav-link fs-1" mat-list-item routerLink="/about"
                        routerLinkActive="active">
                        <mat-icon class="icon">contacts</mat-icon>
                        Nosotros
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="snav.toggle() && onClickBtn()" class="nav-link fs-1" mat-list-item routerLink="/contact"
                        routerLinkActive="active">
                        <mat-icon class="icon">touch_app</mat-icon>
                        Contacto
                    </a>
                </li>
            </mat-nav-list>
            <hr>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-info></app-info>
    <app-transparent></app-transparent>
    <app-footer></app-footer>
</div>