:host {
  .sidenav-container {
    background: #ffffff;

    
    .mat-sidenav-content {
      overflow-x: hidden;
    }
  }

  @media screen and (max-width: 600px) {
    .sidenav-container {
      height: calc(100vh - 56px);
    }
  }

  @media screen and (max-width: 860px) {
    .top-navigtaion {
      display: none;
    }
  }
}
a.active {
    border-bottom: 1px solid white;
}
a:hover {
  color: black;
}

.header-logo{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

mat-sidenav {
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
}

mat-nav-list > *{
  padding: 1rem 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #8E24AA;
}
a.nav-link.fs-1{
    display: flex;
    justify-content: center;
}


