<section>
    <mat-tab-group [@fade] mat-align-tabs="center">
        <mat-tab label="Estetica Integral">
            <app-integral></app-integral>
        </mat-tab>
        <mat-tab label="Medicina estetica y antiaging">
            <app-antiaging></app-antiaging>
        </mat-tab>
        <mat-tab label="Nutricio y Dietetica">
            <app-dietetica></app-dietetica>
        </mat-tab>
        <mat-tab label="Fisioterapia Avanzada">
            <app-fisioterapia></app-fisioterapia>
        </mat-tab>
        <mat-tab label="Medicina y Cirurgia Capilar">
            <app-cirurgia></app-cirurgia>
        </mat-tab>
        <mat-tab label="Psicología">
            <app-psicologia></app-psicologia>
        </mat-tab>
    </mat-tab-group>



</section>