section {
  margin-top: 60px;
  min-height: 100vh;
  background: #ffffff;
}

.example-card {
  max-width: 400px;
}
.content-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2rem;
  padding: 2%;
}

// mat-card{
//     color: white;
//     background-image: radial-gradient(violet 20%, rgb(132, 29, 153) 100%);
//   background-size: cover;
// }

.bg-img {
  background-image: url("../../../assets/media/bg-1.jpg");
  background-position: center;
  background-size: cover;
}
/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

// FOR SERVICES
.header-section {
  min-height: 50vh;
}
.section-block {
  min-height: 300px;
}
.block-wrap {
  position: absolute;
  z-index: 2;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

// css list group
.wrap-container {
  margin: 0;
  width: 100%;
  min-height: 70vh;
}
.wrap-card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.card-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  img {
    border-radius: 10px;
    width: 30rem;
    height: 20rem;
  }
}
