<section class="container">

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Estetica Integral">Content 1</mat-tab>
        <mat-tab label="Nutricio y Dietetica">Content 2</mat-tab>
        <mat-tab label="Fisioterapia Avanzada">Content 3</mat-tab>
        <mat-tab label="Medicina Estetica y Antiaging">Content 2</mat-tab>
        <mat-tab label="Medicina y Cirurgia Capilar">Content 3</mat-tab>
        <mat-tab label="Psicología">Content 2</mat-tab>
    </mat-tab-group>



</section>