<section>

    <!-- <mat-tab-group [@down] mat-align-tabs="center">
        <mat-tab [@down] label="Estetica Integral">
            <mat-tab-group [@down2] mat-align-tabs="start">
                <mat-tab label="Estetica Corporal">
                    <div class="content-flex">
                        <mat-card class="example-card">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Me gusta</button>
                                <button mat-button>Leer mas</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Me gusta</button>
                                <button mat-button>Leer mas</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </mat-tab>
                <mat-tab label="Estetica Corporal">
                    <div class="content-flex">
                        <mat-card class="example-card">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Me gusta</button>
                                <button mat-button>Leer mas</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card class="example-card">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                                    from
                                    Japan.
                                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                    originally
                                    bred for hunting.
                                </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-button>Me gusta</button>
                                <button mat-button>Leer mas</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
        <mat-tab label="Estetica Facial">
            <div class="content-flex">
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Nutricio y Dietetica">
            <div class="content-flex">
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Fisioterapia Avanzada">
            <div class="content-flex">
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Medicina y Cirurgia Capilar">
            <div class="content-flex">
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Psicología">
            <div class="content-flex">
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                            from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Me gusta</button>
                        <button mat-button>Leer mas</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group> -->
    <mat-tab-group [@left] mat-align-tabs="center">
        <mat-tab label="Estetica Integral">

            <!-- <mat-tab-group [@down] mat-align-tabs="start">
                <mat-tab label="Estetica Facial">
                    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                        <div class="col-md-5 p-lg-5 mx-auto my-5">
                            <h1 class="display-4 fw-normal">Punny headline</h1>
                            <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing
                                efforts
                                with this
                                example based on Apple’s marketing pages.</p>
                            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                        </div>

                    </div>

                    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                            <div class="my-3 py-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier subheading.</p>
                            </div>
                            <div class="bg-light shadow-sm mx-auto"
                                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            </div>
                        </div>
                        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                            <div class="my-3 p-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier subheading.</p>
                            </div>
                            <div class="bg-dark shadow-sm mx-auto"
                                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Estetica Corporal">
                    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                        <div class="col-md-5 p-lg-5 mx-auto my-5">
                            <h1 class="display-4 fw-normal">Punny headline</h1>
                            <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing
                                efforts
                                with this
                                example based on Apple’s marketing pages.</p>
                            <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                        </div>
                    </div>

                    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                            <div class="my-3 py-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier subheading.</p>
                            </div>
                            <div class="bg-light shadow-sm mx-auto"
                                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            </div>
                        </div>
                        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                            <div class="my-3 p-3">
                                <h2 class="display-5">Another headline</h2>
                                <p class="lead">And an even wittier subheading.</p>
                            </div>
                            <div class="bg-dark shadow-sm mx-auto"
                                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group> -->
            <app-integral></app-integral>
        </mat-tab>
        <mat-tab label="Nutricio y Dietetica">
            <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal">Punny headline</h1>
                    <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
                        with this
                        example based on Apple’s marketing pages.</p>
                    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                </div>

            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div> -->
            <app-dietetica></app-dietetica>
        </mat-tab>
        <mat-tab label="Fisioterapia Avanzada">
            <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal">Punny headline</h1>
                    <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
                        with this
                        example based on Apple’s marketing pages.</p>
                    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div> -->
            <app-fisioterapia></app-fisioterapia>
        </mat-tab>
        <mat-tab label="Medicina y Cirurgia Capilar">
            <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal">Punny headline</h1>
                    <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
                        with this
                        example based on Apple’s marketing pages.</p>
                    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div> -->
            <app-cirurgia></app-cirurgia>
        </mat-tab>
        <mat-tab label="Psicología">
            <!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-img">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                    <h1 class="display-4 fw-normal text-white">Punny headline</h1>
                    <p class="lead fw-normal text-white">And an even wittier subheading to boot. Jumpstart your
                        marketing efforts
                        with this
                        example based on Apple’s marketing pages.</p>
                    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
                <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-light shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-auto"
                        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div> -->
            <app-psicologia></app-psicologia>
        </mat-tab>
    </mat-tab-group>



</section>