.bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('../../../../../../assets/media/bg-corporal.jpg');
    background-position: center;
    background-size: cover;
}

.section-1__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/1.jpeg');
    background-position: center center;
    background-size: cover;
}
.section-2__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/2.jpg');
    background-position: center;
    background-size: cover;
}
.section-3__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/3.jpg');
    background-position: center;
    background-size: cover;
}
.section-4__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/4.jpg');
    background-position: center;
    background-size: cover;
}
.section-5__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/5.jpg');
    background-position: center;
    background-size: cover;
}
.section-6__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/6.jpg');
    background-position: center;
    background-size: cover;
}
.section-7__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/presoterapia-1.jpg');
    background-position: center;
    background-size: cover;
}
.section-8__bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../../../../assets/media/body/8.jpg');
    background-position: center;
    background-size: cover;
}