<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light bg-img">
    <div class="col-md-5 p-lg-5 mx-auto my-5 header-section">
        <h1 class="display-4 fw-normal">Estetica integral corporal</h1>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-1__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">MADEROTERAPIA</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-2__bg-img">
        <div class="my-3 py-3">
            <h3 class="display-5 text-shadow">MASAJE POST-QUIRÚRGICO MÉTODO COLOMBIANO</h3>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-3__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">RADIOFRECUENCIA</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-4__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">DRENAJE LINFÁTICO</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-5__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">CAVITACIÓN</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-6__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">ONDAS DE CHOQUE</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-7__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">PRESOTERAPIA</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
    <div
        class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded section-block section-8__bg-img">
        <div class="my-3 py-3">
            <h2 class="display-5 text-shadow">GIMNASIA</h2>
            <a class="btn btn-outline-secondary text-white" href="#">Selecionar</a>
        </div>
    </div>
</div>